<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/log.css">
    <title>Search Result</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <img class="logo" src="/images/image.png">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/logged-in">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list-of-destinations">Destination</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Log out</a>
                </li>
            </ul>
            <form class="form-inline" method="post" action="/search-result">
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <form method="post" action="/filtering-date">
        <div class="col">
            <input type="text" class="form-control dest_name" name="destination_name" style="width: 20%"
                placeholder="Destination">
            <input type="text" class="form-control number_days" name="number_of_days" style="width: 20%"
                placeholder="Number of days">
            <button class="btn btn-outline-success my-212 my-sm-0" type="submit">Search</button>
        </div>
    </form>
    <h2 style="margin-top: 30px; margin-left: 30px;">
        <%= title %>
    </h2>
    <div id="accordion" style="padding-top: 50px;">
        <% destinations.forEach(destination=>{%>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        <%= destination.title%>
                    </button>
                </h5>
            </div>
    
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <%=destination.description%>
                </div>
            </div>
        </div>
        <%})%>
    </div>
    <a href="/add-a-plan" class="btn-lg">Add new plan.</a>
</body>
</html>